# IntelliJ
.idea/
*.iml

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
*.egg
*.egg-info/
.Python
.eggs/
.env
.installed.cfg
.venv
build/
develop-eggs/
dist/
docs/
downloads/
eggs/
env/
lib/
lib64/
parts/
sdist/
venv/

# Misc
.cache
.tox
tmp/
